* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  position: relative;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 100%;
  background: #2cbdbd;
  color: white;
  background: linear-gradient(
    74deg,
    rgba(44, 189, 189, 1) 0%,
    rgba(49, 205, 115, 1) 100%
  );
}
.header .links {
  margin-left: 500px;
  display: flex;
  gap: 40px;
  font-size: 18px;
  list-style: none;
}
main {
  padding-left: 110px;
  padding-right: 110px;
  max-height: max-content;
  padding-top: 40px;
  min-height: 100vh;
  background-color: antiquewhite;
  padding-bottom: 8rem;
}
.cart {
  height: 20rem;
  width: 22rem;
  position: absolute;
  right: 6rem;
  top: 7.5rem;
  border-radius: 20px;
  background-color: white;
}
.cart h2 {
  margin-left: 20px;
  margin-top: 20px;
}
.cart .btn {
  margin-left: 20px;
  margin-top: 20px;
}

main .container {
  min-height: 20rem;
  gap: 20px;
  margin-top: 20px;

  max-height: max-content;
  width: 48rem;
  display: flex;
  flex-direction: column;
}
main .container .box {
  height: 10rem;
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  border-radius: 25px;
  padding-left: 5px;
  padding-top: 5px;
}
main .container .box img {
  height: 9rem;
  width: 12rem;
}
main .container .box h4 {
  font-size: 28px;
  margin-left: 60px;
  margin-top: 20px;
}
main .container .box p {
  margin-top: 80px;
  z-index: 5;
  margin-left: -45px;
}
main .container .box button {
  background: linear-gradient(
    74deg,
    rgba(44, 189, 189, 1) 0%,
    rgba(49, 205, 115, 1) 100%
  );
  color: white;
  height: 2rem;
  width: 7rem;
  border: none;
  outline: none;
  border-radius: 25px;
  position: absolute;
  right: 5rem;
  top: 4rem;
  background: #2cbdbd;
}
